<%- include('resources/load-standard-resources.ejs') %>
<head>

	<title>Hackathon</title>

</head>
<body>
	<div id="header" style="width: 100%; background: #fff">
	    <div id="headerContent">
	        <div class="pull-left"><i class="fas fa-dashboard"></i></div>
	    </div>
	</div>
	
	<aside class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default" data-toggle="collapse" style="display: flex">
			<<div class="navbar-header" style="color: #fff">
		        <a class="navbar-brand" href="./"><img src="media/sie-logo-claim-white-rgb.png" alt="Logo"></a><br>
		        <a href="/" style="color: #fff"><h3> Hackathon App </h3></a>
		    </div>
		</nav>
	</aside>
	
	<aside class="right-panel">
		<header class="header">
			<div class="header-menu">
				<h3> Hackathon App</h3>
			</div>
		</header>

		<div class="content mt-3">
			<div class="animated fadeIn">
			</div>
		</div>

	</aside>
</body>
</html>