/*
 * COLOR CODES for IOT2040 Cloud Logger Project
 * Mainly used for Graph Generation
 */
:root {
  /*
		list of hex colors
    */
  --color-hex-Siemens-Primary-Petrol: #009999;
  --color-hex-Siemens-Primary-Background: #becdd7;
  --color-hex-Siemens-Primary-Snow: white;
  --color-hex-Siemens-Primary-StoneDark: #3c464b;
  --color-hex-Siemens-Primary-StoneLight: #879baa;
  --color-hex-Siemens-Primary-SandDark: #73645a;
  --color-hex-Siemens-Primary-SandLight: #aaaa96;
  --color-rgb-Siemens-Primary-Petrol: #009999;
  --color-rgb-Siemens-Primary-Background: #becdd7;
  --color-rgb-Siemens-Primary-Snow: white;
  --color-rgb-Siemens-Primary-StoneDark: #3c464b;
  --color-rgb-Siemens-Primary-StoneLight: #879baa;
  --color-rgb-Siemens-Primary-SandDark: #73645a;
  --color-rgb-Siemens-Primary-SandLight: #aaaa96;
  --color-rgba-Siemens-Primary-Petrol: rgba(0, 153, 153, 0.8);
  --color-rgba-Siemens-Primary-Background: rgba(190, 205, 215, 0.8);
  --color-rgba-Siemens-Primary-Snow: rgba(255, 255, 255, 0.8);
  --color-rgba-Siemens-Primary-StoneDark: rgba(60, 70, 75, 0.8);
  --color-rgba-Siemens-Primary-StoneLight: rgba(135, 155, 170, 0.8);
  --color-rgba-Siemens-Primary-SandDark: rgba(115, 100, 90, 0.8);
  --color-rgba-Siemens-Primary-SandLight: rgba(170, 170, 150, 0.8);
  --color-hex-Siemens-Accent-TealDark: #00646e;
  --color-hex-Siemens-Accent-TealLight: #41aaaa;
  --color-hex-Siemens-Accent-YellowDark: #eb780a;
  --color-hex-Siemens-Accent-YellowLight: #ffb900;
  --color-hex-Siemens-Accent-RedDark: #641946;
  --color-hex-Siemens-Accent-RedLight: #af235f;
  --color-hex-Siemens-Accent-BlueDark: #005f87;
  --color-hex-Siemens-Accent-BlueLight: #50bed7;
  --color-hex-Siemens-Accent-GreenDark: #647d2d;
  --color-hex-Siemens-Accent-GreenLight: #aab414;
  --color-hex-Siemens-Accent-GrayDark: #0f1922;
  --color-hex-Siemens-Accent-GrayLight: #505a63;
  --color-rgb-Siemens-Accent-TealDark: #00646e;
  --color-rgb-Siemens-Accent-TealLight: #41aaaa;
  --color-rgb-Siemens-Accent-YellowDark: #eb780a;
  --color-rgb-Siemens-Accent-YellowLight: #ffb900;
  --color-rgb-Siemens-Accent-RedDark: #641946;
  --color-rgb-Siemens-Accent-RedLight: #af235f;
  --color-rgb-Siemens-Accent-BlueDark: #005f87;
  --color-rgb-Siemens-Accent-BlueLight: #50bed7;
  --color-rgb-Siemens-Accent-GreenDark: #647d2d;
  --color-rgb-Siemens-Accent-GreenLight: #aab414;
  --color-rgb-Siemens-Accent-GrayDark: #0f1922;
  --color-rgb-Siemens-Accent-GrayLight: #505a63;
  --color-rgba-Siemens-Accent-TealDark: rgba(0, 100, 110, 0.8);
  --color-rgba-Siemens-Accent-TealLight: rgba(65, 170, 170, 0.8);
  --color-rgba-Siemens-Accent-YellowDark: rgba(235, 120, 10, 0.8);
  --color-rgba-Siemens-Accent-YellowLight: rgba(255, 185, 0, 0.8);
  --color-rgba-Siemens-Accent-RedDark: rgba(100, 25, 70, 0.8);
  --color-rgba-Siemens-Accent-RedLight: rgba(175, 35, 95, 0.8);
  --color-rgba-Siemens-Accent-BlueDark: rgba(0, 95, 135, 0.8);
  --color-rgba-Siemens-Accent-BlueLight: rgba(80, 190, 215, 0.8);
  --color-rgba-Siemens-Accent-GreenDark: rgba(100, 125, 45, 0.8);
  --color-rgba-Siemens-Accent-GreenLight: rgba(170, 180, 20, 0.8);
  --color-rgba-Siemens-Accent-GrayDark: rgba(15, 25, 34, 0.8);
  --color-rgba-Siemens-Accent-GrayLight: rgba(80, 90, 99, 0.8);
  --color-hex-Siemens-Screen-BlueGrey-0: #233746;
  --color-hex-Siemens-Screen-BlueGrey-1: #374b5a;
  --color-hex-Siemens-Screen-BlueGrey-2: #506473;
  --color-hex-Siemens-Screen-BlueGrey-3: #647887;
  --color-hex-Siemens-Screen-BlueGrey-4: #738796;
  --color-hex-Siemens-Screen-BlueGrey-5: #879baa;
  --color-hex-Siemens-Screen-BlueGrey-6: #9bafbe;
  --color-hex-Siemens-Screen-BlueGrey-7: #adbecb;
  --color-hex-Siemens-Screen-BlueGrey-8: #becdd7;
  --color-hex-Siemens-Screen-BlueGrey-9: #cdd9e1;
  --color-hex-Siemens-Screen-BlueGrey-10: #dfe6ed;
  --color-hex-Siemens-Screen-BlueGrey-11: #ebf0f5;
  --color-hex-Siemens-Screen-Browns-0: #4b3c32;
  --color-hex-Siemens-Screen-Browns-1: #64554b;
  --color-hex-Siemens-Screen-Browns-2: #73645a;
  --color-hex-Siemens-Screen-Browns-3: #877d6e;
  --color-hex-Siemens-Screen-Browns-4: #9b9682;
  --color-hex-Siemens-Screen-Browns-5: #aaaa96;
  --color-hex-Siemens-Screen-Browns-6: #b9b9a5;
  --color-hex-Siemens-Screen-Browns-7: #c8c8b9;
  --color-hex-Siemens-Screen-Browns-8: #d7d7cd;
  --color-hex-Siemens-Screen-Browns-9: #e1e1d7;
  --color-hex-Siemens-Screen-Browns-10: #ebebe3;
  --color-hex-Siemens-Screen-Browns-11: #f5f5f0;
  --color-hex-Siemens-Screen-Teal-0: #003c46;
  --color-hex-Siemens-Screen-Teal-1: #004b55;
  --color-hex-Siemens-Screen-Teal-2: #00646e;
  --color-hex-Siemens-Screen-Teal-3: #00737d;
  --color-hex-Siemens-Screen-Teal-4: #0f8287;
  --color-hex-Siemens-Screen-Teal-5: #239196;
  --color-hex-Siemens-Screen-Teal-6: #32a0a0;
  --color-hex-Siemens-Screen-Teal-7: #41aaaa;
  --color-hex-Siemens-Screen-Teal-8: #4bb9b9;
  --color-hex-Siemens-Screen-Teal-9: #78cdcd;
  --color-hex-Siemens-Screen-Teal-10: #a5e1e1;
  --color-hex-Siemens-Screen-Teal-11: #c3f0f0;
  --color-hex-Siemens-Screen-Yellows-0: #7d2d1e;
  --color-hex-Siemens-Screen-Yellows-1: #a03c23;
  --color-hex-Siemens-Screen-Yellows-2: #b44b28;
  --color-hex-Siemens-Screen-Yellows-3: #c85a1e;
  --color-hex-Siemens-Screen-Yellows-4: #dc6914;
  --color-hex-Siemens-Screen-Yellows-5: #eb780a;
  --color-hex-Siemens-Screen-Yellows-6: #f58c14;
  --color-hex-Siemens-Screen-Yellows-7: #faa50a;
  --color-hex-Siemens-Screen-Yellows-8: #ffb900;
  --color-hex-Siemens-Screen-Yellows-9: #ffcd50;
  --color-hex-Siemens-Screen-Yellows-10: #ffe178;
  --color-hex-Siemens-Screen-Yellows-11: #fff09b;
  --color-hex-Siemens-Screen-Reds-0: #411432;
  --color-hex-Siemens-Screen-Reds-1: #50143c;
  --color-hex-Siemens-Screen-Reds-2: #641946;
  --color-hex-Siemens-Screen-Reds-3: #781e4b;
  --color-hex-Siemens-Screen-Reds-4: #871e50;
  --color-hex-Siemens-Screen-Reds-5: #9b1e5a;
  --color-hex-Siemens-Screen-Reds-6: #af235f;
  --color-hex-Siemens-Screen-Reds-7: #c34673;
  --color-hex-Siemens-Screen-Reds-8: #d7698c;
  --color-hex-Siemens-Screen-Reds-9: #e687a5;
  --color-hex-Siemens-Screen-Reds-10: #f0aac3;
  --color-hex-Siemens-Screen-Reds-11: #f5c8dc;
  --color-hex-Siemens-Screen-Blues-0: #003750;
  --color-hex-Siemens-Screen-Blues-1: #004669;
  --color-hex-Siemens-Screen-Blues-2: #00557d;
  --color-hex-Siemens-Screen-Blues-3: #005f87;
  --color-hex-Siemens-Screen-Blues-4: #0f789b;
  --color-hex-Siemens-Screen-Blues-5: #2387aa;
  --color-hex-Siemens-Screen-Blues-6: #3296b9;
  --color-hex-Siemens-Screen-Blues-7: #41aac8;
  --color-hex-Siemens-Screen-Blues-8: #50bed7;
  --color-hex-Siemens-Screen-Blues-9: #7dd2e6;
  --color-hex-Siemens-Screen-Blues-10: #aae6f5;
  --color-hex-Siemens-Screen-Blues-11: #c8f5ff;
  --color-hex-Siemens-Screen-Greens-0: #37500f;
  --color-hex-Siemens-Screen-Greens-1: #465f19;
  --color-hex-Siemens-Screen-Greens-2: #556e28;
  --color-hex-Siemens-Screen-Greens-3: #647d2d;
  --color-hex-Siemens-Screen-Greens-4: #738732;
  --color-hex-Siemens-Screen-Greens-5: #879628;
  --color-hex-Siemens-Screen-Greens-6: #96a51e;
  --color-hex-Siemens-Screen-Greens-7: #aab414;
  --color-hex-Siemens-Screen-Greens-8: #bec328;
  --color-hex-Siemens-Screen-Greens-9: #d2d741;
  --color-hex-Siemens-Screen-Greens-10: #e6e65f;
  --color-hex-Siemens-Screen-Greens-11: #f0f08c;
  --color-hex-Siemens-Screen-Greys-0: #2d373c;
  --color-hex-Siemens-Screen-Greys-1: #3c464b;
  --color-hex-Siemens-Screen-Greys-2: #555f69;
  --color-hex-Siemens-Screen-Greys-3: #697882;
  --color-hex-Siemens-Screen-Greys-4: #788791;
  --color-hex-Siemens-Screen-Greys-5: #879baa;
  --color-hex-Siemens-Screen-Greys-6: #9bafbe;
  --color-hex-Siemens-Screen-Greys-7: #adbecb;
  --color-hex-Siemens-Screen-Greys-8: #becdd7;
  --color-hex-Siemens-Screen-Greys-9: #cdd9e1;
  --color-hex-Siemens-Screen-Greys-10: #dfe6ed;
  --color-hex-Siemens-Screen-Greys-11: #ebf0f5;
  --color-rgb-Siemens-Screen-BlueGrey-0: #233746;
  --color-rgb-Siemens-Screen-BlueGrey-1: #374b5a;
  --color-rgb-Siemens-Screen-BlueGrey-2: #506473;
  --color-rgb-Siemens-Screen-BlueGrey-3: #647887;
  --color-rgb-Siemens-Screen-BlueGrey-4: #738796;
  --color-rgb-Siemens-Screen-BlueGrey-5: #879baa;
  --color-rgb-Siemens-Screen-BlueGrey-6: #9bafbe;
  --color-rgb-Siemens-Screen-BlueGrey-7: #adbecb;
  --color-rgb-Siemens-Screen-BlueGrey-8: #becdd7;
  --color-rgb-Siemens-Screen-BlueGrey-9: #cdd9e1;
  --color-rgb-Siemens-Screen-BlueGrey-10: #dfe6ed;
  --color-rgb-Siemens-Screen-BlueGrey-11: #ebf0f5;
  --color-rgb-Siemens-Screen-Browns-0: #4b3c32;
  --color-rgb-Siemens-Screen-Browns-1: #64554b;
  --color-rgb-Siemens-Screen-Browns-2: #73645a;
  --color-rgb-Siemens-Screen-Browns-3: #877d6e;
  --color-rgb-Siemens-Screen-Browns-4: #9b9682;
  --color-rgb-Siemens-Screen-Browns-5: #aaaa96;
  --color-rgb-Siemens-Screen-Browns-6: #b9b9a5;
  --color-rgb-Siemens-Screen-Browns-7: #c8c8b9;
  --color-rgb-Siemens-Screen-Browns-8: #d7d7cd;
  --color-rgb-Siemens-Screen-Browns-9: #e1e1d7;
  --color-rgb-Siemens-Screen-Browns-10: #ebebe3;
  --color-rgb-Siemens-Screen-Browns-11: #f5f5f0;
  --color-rgb-Siemens-Screen-Teal-0: #003c46;
  --color-rgb-Siemens-Screen-Teal-1: #004b55;
  --color-rgb-Siemens-Screen-Teal-2: #00646e;
  --color-rgb-Siemens-Screen-Teal-3: #00737d;
  --color-rgb-Siemens-Screen-Teal-4: #0f8287;
  --color-rgb-Siemens-Screen-Teal-5: #239196;
  --color-rgb-Siemens-Screen-Teal-6: #32a0a0;
  --color-rgb-Siemens-Screen-Teal-7: #41aaaa;
  --color-rgb-Siemens-Screen-Teal-8: #4bb9b9;
  --color-rgb-Siemens-Screen-Teal-9: #78cdcd;
  --color-rgb-Siemens-Screen-Teal-10: #a5e1e1;
  --color-rgb-Siemens-Screen-Teal-11: #c3f0f0;
  --color-rgb-Siemens-Screen-Yellows-0: #7d2d1e;
  --color-rgb-Siemens-Screen-Yellows-1: #a03c23;
  --color-rgb-Siemens-Screen-Yellows-2: #b44b28;
  --color-rgb-Siemens-Screen-Yellows-3: #c85a1e;
  --color-rgb-Siemens-Screen-Yellows-4: #dc6914;
  --color-rgb-Siemens-Screen-Yellows-5: #eb780a;
  --color-rgb-Siemens-Screen-Yellows-6: #f58c14;
  --color-rgb-Siemens-Screen-Yellows-7: #faa50a;
  --color-rgb-Siemens-Screen-Yellows-8: #ffb900;
  --color-rgb-Siemens-Screen-Yellows-9: #ffcd50;
  --color-rgb-Siemens-Screen-Yellows-10: #ffe178;
  --color-rgb-Siemens-Screen-Yellows-11: #fff09b;
  --color-rgb-Siemens-Screen-Reds-0: #411432;
  --color-rgb-Siemens-Screen-Reds-1: #50143c;
  --color-rgb-Siemens-Screen-Reds-2: #641946;
  --color-rgb-Siemens-Screen-Reds-3: #781e4b;
  --color-rgb-Siemens-Screen-Reds-4: #871e50;
  --color-rgb-Siemens-Screen-Reds-5: #9b1e5a;
  --color-rgb-Siemens-Screen-Reds-6: #af235f;
  --color-rgb-Siemens-Screen-Reds-7: #c34673;
  --color-rgb-Siemens-Screen-Reds-8: #d7698c;
  --color-rgb-Siemens-Screen-Reds-9: #e687a5;
  --color-rgb-Siemens-Screen-Reds-10: #f0aac3;
  --color-rgb-Siemens-Screen-Reds-11: #f5c8dc;
  --color-rgb-Siemens-Screen-Blues-0: #003750;
  --color-rgb-Siemens-Screen-Blues-1: #004669;
  --color-rgb-Siemens-Screen-Blues-2: #00557d;
  --color-rgb-Siemens-Screen-Blues-3: #005f87;
  --color-rgb-Siemens-Screen-Blues-4: #0f789b;
  --color-rgb-Siemens-Screen-Blues-5: #2387aa;
  --color-rgb-Siemens-Screen-Blues-6: #3296b9;
  --color-rgb-Siemens-Screen-Blues-7: #41aac8;
  --color-rgb-Siemens-Screen-Blues-8: #50bed7;
  --color-rgb-Siemens-Screen-Blues-9: #7dd2e6;
  --color-rgb-Siemens-Screen-Blues-10: #aae6f5;
  --color-rgb-Siemens-Screen-Blues-11: #c8f5ff;
  --color-rgb-Siemens-Screen-Greens-0: #37500f;
  --color-rgb-Siemens-Screen-Greens-1: #465f19;
  --color-rgb-Siemens-Screen-Greens-2: #556e28;
  --color-rgb-Siemens-Screen-Greens-3: #647d2d;
  --color-rgb-Siemens-Screen-Greens-4: #738732;
  --color-rgb-Siemens-Screen-Greens-5: #879628;
  --color-rgb-Siemens-Screen-Greens-6: #96a51e;
  --color-rgb-Siemens-Screen-Greens-7: #aab414;
  --color-rgb-Siemens-Screen-Greens-8: #bec328;
  --color-rgb-Siemens-Screen-Greens-9: #d2d741;
  --color-rgb-Siemens-Screen-Greens-10: #e6e65f;
  --color-rgb-Siemens-Screen-Greens-11: #f0f08c;
  --color-rgb-Siemens-Screen-Greys-0: #2d373c;
  --color-rgb-Siemens-Screen-Greys-1: #3c464b;
  --color-rgb-Siemens-Screen-Greys-2: #555f69;
  --color-rgb-Siemens-Screen-Greys-3: #697882;
  --color-rgb-Siemens-Screen-Greys-4: #788791;
  --color-rgb-Siemens-Screen-Greys-5: #879baa;
  --color-rgb-Siemens-Screen-Greys-6: #9bafbe;
  --color-rgb-Siemens-Screen-Greys-7: #adbecb;
  --color-rgb-Siemens-Screen-Greys-8: #becdd7;
  --color-rgb-Siemens-Screen-Greys-9: #cdd9e1;
  --color-rgb-Siemens-Screen-Greys-10: #dfe6ed;
  --color-rgb-Siemens-Screen-Greys-11: #ebf0f5;
  --color-rgba-Siemens-Screen-BlueGrey-0: rgba(35, 55, 70, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-1: rgba(55, 75, 90, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-2: rgba(80, 100, 115, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-3: rgba(100, 120, 135, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-4: rgba(115, 135, 150, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-5: rgba(135, 155, 170, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-6: rgba(155, 175, 190, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-7: rgba(173, 190, 203, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-8: rgba(190, 205, 215, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-9: rgba(205, 217, 225, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-10: rgba(223, 230, 237, 0.8);
  --color-rgba-Siemens-Screen-BlueGrey-11: rgba(235, 240, 245, 0.8);
  --color-rgba-Siemens-Screen-Browns-0: rgba(75, 60, 50, 0.8);
  --color-rgba-Siemens-Screen-Browns-1: rgba(100, 85, 75, 0.8);
  --color-rgba-Siemens-Screen-Browns-2: rgba(115, 100, 90, 0.8);
  --color-rgba-Siemens-Screen-Browns-3: rgba(135, 125, 110, 0.8);
  --color-rgba-Siemens-Screen-Browns-4: rgba(155, 150, 130, 0.8);
  --color-rgba-Siemens-Screen-Browns-5: rgba(170, 170, 150, 0.8);
  --color-rgba-Siemens-Screen-Browns-6: rgba(185, 185, 165, 0.8);
  --color-rgba-Siemens-Screen-Browns-7: rgba(200, 200, 185, 0.8);
  --color-rgba-Siemens-Screen-Browns-8: rgba(215, 215, 205, 0.8);
  --color-rgba-Siemens-Screen-Browns-9: rgba(225, 225, 215, 0.8);
  --color-rgba-Siemens-Screen-Browns-10: rgba(235, 235, 227, 0.8);
  --color-rgba-Siemens-Screen-Browns-11: rgba(245, 245, 240, 0.8);
  --color-rgba-Siemens-Screen-Teal-0: rgba(0, 60, 70, 0.8);
  --color-rgba-Siemens-Screen-Teal-1: rgba(0, 75, 85, 0.8);
  --color-rgba-Siemens-Screen-Teal-2: rgba(0, 100, 110, 0.8);
  --color-rgba-Siemens-Screen-Teal-3: rgba(0, 115, 125, 0.8);
  --color-rgba-Siemens-Screen-Teal-4: rgba(15, 130, 135, 0.8);
  --color-rgba-Siemens-Screen-Teal-5: rgba(35, 145, 150, 0.8);
  --color-rgba-Siemens-Screen-Teal-6: rgba(50, 160, 160, 0.8);
  --color-rgba-Siemens-Screen-Teal-7: rgba(65, 170, 170, 0.8);
  --color-rgba-Siemens-Screen-Teal-8: rgba(75, 185, 185, 0.8);
  --color-rgba-Siemens-Screen-Teal-9: rgba(120, 205, 205, 0.8);
  --color-rgba-Siemens-Screen-Teal-10: rgba(165, 225, 225, 0.8);
  --color-rgba-Siemens-Screen-Teal-11: rgba(195, 240, 240, 0.8);
  --color-rgba-Siemens-Screen-Yellows-0: rgba(125, 45, 30, 0.8);
  --color-rgba-Siemens-Screen-Yellows-1: rgba(160, 60, 35, 0.8);
  --color-rgba-Siemens-Screen-Yellows-2: rgba(180, 75, 40, 0.8);
  --color-rgba-Siemens-Screen-Yellows-3: rgba(200, 90, 30, 0.8);
  --color-rgba-Siemens-Screen-Yellows-4: rgba(220, 105, 20, 0.8);
  --color-rgba-Siemens-Screen-Yellows-5: rgba(235, 120, 10, 0.8);
  --color-rgba-Siemens-Screen-Yellows-6: rgba(245, 140, 20, 0.8);
  --color-rgba-Siemens-Screen-Yellows-7: rgba(250, 165, 10, 0.8);
  --color-rgba-Siemens-Screen-Yellows-8: rgba(255, 185, 0, 0.8);
  --color-rgba-Siemens-Screen-Yellows-9: rgba(255, 205, 80, 0.8);
  --color-rgba-Siemens-Screen-Yellows-10: rgba(255, 225, 120, 0.8);
  --color-rgba-Siemens-Screen-Yellows-11: rgba(255, 240, 155, 0.8);
  --color-rgba-Siemens-Screen-Reds-0: rgba(65, 20, 50, 0.8);
  --color-rgba-Siemens-Screen-Reds-1: rgba(80, 20, 60, 0.8);
  --color-rgba-Siemens-Screen-Reds-2: rgba(100, 25, 70, 0.8);
  --color-rgba-Siemens-Screen-Reds-3: rgba(120, 30, 75, 0.8);
  --color-rgba-Siemens-Screen-Reds-4: rgba(135, 30, 80, 0.8);
  --color-rgba-Siemens-Screen-Reds-5: rgba(155, 30, 90, 0.8);
  --color-rgba-Siemens-Screen-Reds-6: rgba(175, 35, 95, 0.8);
  --color-rgba-Siemens-Screen-Reds-7: rgba(195, 70, 115, 0.8);
  --color-rgba-Siemens-Screen-Reds-8: rgba(215, 105, 140, 0.8);
  --color-rgba-Siemens-Screen-Reds-9: rgba(230, 135, 165, 0.8);
  --color-rgba-Siemens-Screen-Reds-10: rgba(240, 170, 195, 0.8);
  --color-rgba-Siemens-Screen-Reds-11: rgba(245, 200, 220, 0.8);
  --color-rgba-Siemens-Screen-Blues-0: rgba(0, 55, 80, 0.8);
  --color-rgba-Siemens-Screen-Blues-1: rgba(0, 70, 105, 0.8);
  --color-rgba-Siemens-Screen-Blues-2: rgba(0, 85, 125, 0.8);
  --color-rgba-Siemens-Screen-Blues-3: rgba(0, 95, 135, 0.8);
  --color-rgba-Siemens-Screen-Blues-4: rgba(15, 120, 155, 0.8);
  --color-rgba-Siemens-Screen-Blues-5: rgba(35, 135, 170, 0.8);
  --color-rgba-Siemens-Screen-Blues-6: rgba(50, 150, 185, 0.8);
  --color-rgba-Siemens-Screen-Blues-7: rgba(65, 170, 200, 0.8);
  --color-rgba-Siemens-Screen-Blues-8: rgba(80, 190, 215, 0.8);
  --color-rgba-Siemens-Screen-Blues-9: rgba(125, 210, 230, 0.8);
  --color-rgba-Siemens-Screen-Blues-10: rgba(170, 230, 245, 0.8);
  --color-rgba-Siemens-Screen-Blues-11: rgba(200, 245, 255, 0.8);
  --color-rgba-Siemens-Screen-Greens-0: rgba(55, 80, 15, 0.8);
  --color-rgba-Siemens-Screen-Greens-1: rgba(70, 95, 25, 0.8);
  --color-rgba-Siemens-Screen-Greens-2: rgba(85, 110, 40, 0.8);
  --color-rgba-Siemens-Screen-Greens-3: rgba(100, 125, 45, 0.8);
  --color-rgba-Siemens-Screen-Greens-4: rgba(115, 135, 50, 0.8);
  --color-rgba-Siemens-Screen-Greens-5: rgba(135, 150, 40, 0.8);
  --color-rgba-Siemens-Screen-Greens-6: rgba(150, 165, 30, 0.8);
  --color-rgba-Siemens-Screen-Greens-7: rgba(170, 180, 20, 0.8);
  --color-rgba-Siemens-Screen-Greens-8: rgba(190, 195, 40, 0.8);
  --color-rgba-Siemens-Screen-Greens-9: rgba(210, 215, 65, 0.8);
  --color-rgba-Siemens-Screen-Greens-10: rgba(230, 230, 95, 0.8);
  --color-rgba-Siemens-Screen-Greens-11: rgba(240, 240, 140, 0.8);
  --color-rgba-Siemens-Screen-Greys-0: rgba(45, 55, 60, 0.8);
  --color-rgba-Siemens-Screen-Greys-1: rgba(60, 70, 75, 0.8);
  --color-rgba-Siemens-Screen-Greys-2: rgba(85, 95, 105, 0.8);
  --color-rgba-Siemens-Screen-Greys-3: rgba(105, 120, 130, 0.8);
  --color-rgba-Siemens-Screen-Greys-4: rgba(120, 135, 145, 0.8);
  --color-rgba-Siemens-Screen-Greys-5: rgba(135, 155, 170, 0.8);
  --color-rgba-Siemens-Screen-Greys-6: rgba(155, 175, 190, 0.8);
  --color-rgba-Siemens-Screen-Greys-7: rgba(173, 190, 203, 0.8);
  --color-rgba-Siemens-Screen-Greys-8: rgba(190, 205, 215, 0.8);
  --color-rgba-Siemens-Screen-Greys-9: rgba(205, 217, 225, 0.8);
  --color-rgba-Siemens-Screen-Greys-10: rgba(223, 230, 237, 0.8);
  --color-rgba-Siemens-Screen-Greys-11: rgba(235, 240, 245, 0.8);
  --color-hex-Siemens-UIelements-primary: #009999;
  --color-hex-Siemens-UIelements-warning: #ffb900;
  --color-hex-Siemens-UIelements-danger: #af235f;
  --color-hex-Siemens-UIelements-success: #aab414;
  --color-hex-Siemens-UIelements-info: #005f87;
  --color-hex-Siemens-UIelements-online: #41aaaa;
  --color-hex-Siemens-UIelements-offline: #af235f;
  --color-rgb-Siemens-UIelements-primary: #009999;
  --color-rgb-Siemens-UIelements-warning: #ffb900;
  --color-rgb-Siemens-UIelements-danger: #af235f;
  --color-rgb-Siemens-UIelements-success: #aab414;
  --color-rgb-Siemens-UIelements-info: #005f87;
  --color-rgb-Siemens-UIelements-online: #41aaaa;
  --color-rgb-Siemens-UIelements-offline: #af235f;
  --color-rgba-Siemens-UIelements-primary: rgba(0, 153, 153, 0.8);
  --color-rgba-Siemens-UIelements-warning: rgba(255, 185, 0, 0.8);
  --color-rgba-Siemens-UIelements-danger: rgba(175, 35, 95, 0.8);
  --color-rgba-Siemens-UIelements-success: rgba(170, 180, 20, 0.8);
  --color-rgba-Siemens-UIelements-info: rgba(0, 95, 135, 0.8);
  --color-rgba-Siemens-UIelements-online: rgba(65, 170, 170, 0.8);
  --color-rgba-Siemens-UIelements-offline: rgba(175, 35, 95, 0.8);
  --padding-edges: 8px;
  --margin-edges: 4px;
  --margin-devices:2px;
  --border-width: 1px;
  --modal-footer-height: 60px;
  --modal-header-height: 60px;
  --modal-dialog-height:90vh;
  --modal-body-height: calc(var(--modal-dialog-height) - var(--modal-footer-height) - var(--modal-header-height) - 2*var(--margin-edges));
  --div-outerBox-maxHeight: calc(var(--modal-body-height) - var(--margin-edges)); }
